
/* SLIDE */
#slide1{
  position:relative;
  background-color: #5187B5;
  overflow:auto;
}


/* SLIDE WRAPPER */
#slide1 .about-wrapper{
  width: 100vw;
  height: 100vh;
  overflow-y:auto;
  overflow-x:hidden;
}

#slide1 .about-content{
  width: 100vw;
  height: 100vh;
  position:relative;
}


/* LESS ABOUT */
.less_about{
  position:absolute;
  top: 0;
  color: white;
  width: 100vw;
  padding-top: 20px;
  opacity: 0.4;
  cursor:pointer;
}

.less_about p{
  margin-top: 5px;
  color: white;
}

.less_about:hover{
  opacity: 0.7;
  /*transition: ease-in 0.1s;*/
}


/* FEATURES */
.features-side{
  position:absolute;
  top: 0;
  left: 0;
  width: 50vw;
  height: 85vh;
  padding-top: 15vh;
}

.features-side h1{
  color: white;
  font-size: 70px;
  text-align:center;
}

.features-box{
  margin: 20px 20px 20px 50px;
  position: relative;
  height: 20vh;
  color: rgba(255, 255, 255, 0.85);
}

.features-box i{
  font-size: 120px;
  position: absolute;
  left:0;
  top:0;
}

.features-box p{
  font-size: 30px;
  position: absolute;
  left:160px;
  top:0;
}


/* COMMENTS */
.comment-side{
  position:absolute;
  top: 0;
  left: 50vw;
  width: 50vw;
  height: 85vh;
  padding-top: 15vh;
}

.comment-side h1{
  color: white;
  font-size: 70px;
  text-align:center;
}

.comment-box{
  margin: 20px 20px 20px 50px;
  position: relative;
  height: 20vh;
  color: rgba(255, 255, 255, 0.85);
}

.comment-box img{
  position: absolute;
  left:0;
  top:0;
  border-radius: 50%;
  width: 120px;
  height: 120px;
}

.comment-box .quote{
  position: absolute;
  left:160px;
  top:0;
}

.comment-box .quote q{
  font-size: 30px;
}
