.cf:after {
  content: ".";
  clear: both;
  display: block;
  visibility: hidden;
  height: 0px;
}

body {
  font-family: helvetica, sans-serif;
  background-color: rgb(250, 250, 250);
  margin:0;
}

hr {
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0));
}

.topbar{
  width: 100vw;
  height: 70px;
  background: rgb(255, 255, 255);
  border-bottom: 1px solid rgba(95, 95, 95, 0.1);
  text-align:center;
}

/* LOGO */

.logo{
  margin-top: 30px;
  height: 60px;
  width: auto;
}


/* WRAPPER*/

.wrapper{
  position:relative;
  width: 1000px;
  min-height: 300px;
  margin: 30px auto 30px auto;
  background-color: white;
  border-radius: 4px;
  border: 1px solid rgba(95, 95, 95, 0.15);
  display:none; /* fades in */
}

/* IMAGE CONTENT OF WRAPPER */

.wrapper .image{
  background-color: black;
  width: 600px;
  min-height: 100%;
  height: auto;
  margin:0;
  padding:0;
}

.wrapper img{
  width: 100%;
  height: auto;
  margin:0 0 -5px 0;
  padding:0;
}

/* INFO CONTENT OF WRAPPER */

.wrapper .info{
  position:absolute;
  left:600px;
  top:0;
  height: 100%;
  width:400px;
}

.info .infowrap{
  position:relative;
  padding: 2%;
  height: 100%;
}

/* AUTHOR */

.wrapper .info .author{
  cursor:pointer;
}

.wrapper .info .author img{
  width: 56px;
  height: 56px;
  border: solid rgba(0, 0, 0, 0.2) 1px;
  float: right;
}

.wrapper .info .author div{
  float: right;
  font-weight: bolder;
  color: rgb(99, 99, 99);
  padding: 22px 10px 0 0;
}

/* COMMENTBOX */

.wrapper .info .commentbox{
  height: 60%;
  overflow-y: auto;
}

.wrapper .info .commentbox::-webkit-scrollbar {
    width: 0.3em;
}

.wrapper .info .commentbox::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.wrapper .info .commentbox::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.wrapper .info .comment-hl{
  font-size: 12px;
  font-weight: bolder;
  color: rgba(0, 0, 0, 0.4);
  margin: 5px 0 5px 20px;
}

/* COMMENT */

.comment{
  margin: 10px 0;
}

.comment .comment-author{
  opacity: 0.8;
  cursor: pointer;
  padding: 0 5px 2px 0;
  float:left;
}

.comment .comment-author:hover{
  opacity: 1;
}

.comment .comment-author img{
  width: 20px;
  height: 20px;
  border-radius: 2px;
  float: left;
  margin-right: 5px;
  margin-left: 2px;
}

.comment .comment-author div{
  float: left;
  margin: 3px 0 0 0;
  color: rgba(0, 0, 0, 0.8);
}

.comment .content {
  margin: 2px 0 2px 10px;
  padding: 5px 10px;
  border-radius: 2px;
}

.comment .content  p{
  margin:0;
  color: rgba(113, 113, 113, 0.6);
  line-height: 150%;
}

/* COMMENT FORM */

.comment-form {
  position:absolute;
  bottom:10px;
  width:100%;
  height: 40px;
}

.comment-form:after {
    content: ".";
    clear: both;
    display: block;
    visibility: hidden;
    height: 0px;
}

.comment-form .input{
  margin: 0 30px 0 30px;
}

.comment-form .input input{
  width: 100%;
  padding: 4px;
  margin:2px 2px;
  font-size: 14px;
  border-radius: 4px;
  border: 1px rgb(191, 191, 191) solid;
}

.comment-form img{
  padding: 3px 0 0 3px;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  float:left;
}



/* ERROR */

.error{
  color:rgba(0, 0, 0, 0.4);
  margin:auto;
  width: 320px;
  display:none;
  text-align:center;
  margin-top: 20vh;
}

.error i{
  font-size: 320px;
}

.error p{
  font-size: 36px;
  font-weight: bolder;
}


/* CONTEXT MENU */
.comment-menu {
    display: none;
    z-index: 1000;
    position: absolute;
    overflow: hidden;
    border: 1px solid #CCC;
    white-space: nowrap;
    font-family: sans-serif;
    background: #FFF;
    color: #333;
    border-radius: 5px;
    padding: 0;
}

/* Each of the items in the list */
.comment-menu li {
    padding: 8px 12px;
    cursor: pointer;
    list-style-type: none;
    transition: all .3s ease;
}

.comment-menu li:hover {
    background-color: #DEF;
}


/* TABLET STUFF */

@media screen and (max-width: 1100px){

  .wrapper{
    width: 90vw;
  }

  .wrapper .image{
    background-color: black;
    width: 100%;
  }

  .wrapper .info{
    position:relative;
    left:0;
    top:0;
    height: 400px;
    width:100%;
  }

  .wrapper .info .infowrap{
    padding: 5px;
  }

}

/* MOBILE STUFF */

@media screen and (max-width: 600px){
  .wrapper{
    width: 100vw;
    height: auto;
    padding: 0;
    border: none;
    overflow:hidden;
    border-radius: 0;
  }
}
